/.idea/
/.venv/
/venv/
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
/.tox/
/.nox/
/.coverage
/.coverage.*
/htmlcov/
/reports/*
!/reports/.gitkeep
/build/
/dist/
/*.egg-info/
/pip-wheel-metadata/

__pycache__/
*.py[cod]
*$py.class
*.log
*.sqlite3
*.db
*.env
.env
.env.*

.DS_Store
Thumbs.db
